@font-face {
        font-family: fontName;
        src: url(assets/fonts/Gilroy-ExtraBold.otf);
        src: url(assets/fonts/Gilroy-Light.otf);
        src: url(assets/fonts/Roboto-Bold.ttf);
        src: url(assets/fonts/roboto-medium.ttf);
        src: url(assets/fonts/roboto-regular.ttf);
}
* {
        margin: 0;
        padding: 0;
}
body {
   font-size: 15px;
   line-height: 25px;
   font-weight: 400;
   font-family: "roboto-regular", sans-serif;
   color: #ffffff;
}
p {
   font-weight: 400;
   line-height: 30px;
   font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
        color: #ffffff;
        font-family: "Gilroy-ExtraBold", sans-serif;
        font-weight: 900;
        margin: 0;
}

a,
a:hover,
a:focus {
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        outline: none;
}
ol,
ul {
        margin: 0;
        padding: 0;
}
ol li,
ul li {
        list-style: outside none none;
        list-style-type: none;
}
.ml-15 {
        margin-left: 15px;
}
.mt-44{
        margin-top: 44px;
}
.vh-80{
        height: 80vh;
}
#header{
    background: url(../../assets/images/home/header-bg.png) no-repeat 100% 100%;
    background-size: cover;
    height: 713px;
    position: absolute;
    top: -2px;
    background-position-y: 89px;
    width: 100%;
} 
.navbar{
    background: rgb(8 8 61);
}
.font-Gilroy{
       font-family: "Gilroy-ExtraBold";
}
.fs-31{
   font-size: 31px;     
}
.navbar-light .navbar-toggler {
    color: #fff;
}
.navbar-nav .nav-item{
        margin-right: 1rem;
}
.navbar-nav .nav-item a{
  font: normal normal 300 16px/19px Gilroy;      
}
.navbar-nav .nav-item  .btn-contact{
   background: #23CE6B 0% 0% no-repeat padding-box;
border-radius: 5px;     
}

.navbar-nav .nav-link{
  font: normal normal 300 16px/19px Gilroy;  
}
.h1{
   font: normal normal 800 50px/62px Gilroy;     
}
.btn-green{
  background-color:#23CE6B ;
}
.btn-shadow{
  box-shadow: 0px 8px 8px #23CE6B80;
}
.btn-roboto{
        font: normal normal bold 24px/30px Roboto;
}
.btn-space{
        padding: 12px 24px 12px 24px;
}
.br-100{
  border-radius: 100px;
}
.ptb-70{
        padding: 70px 0;
}
.container-xxl{

}

/*jumbotron*/
.hero_text p{
       font: normal normal normal 24px/34px Roboto; 
}
.jumbotron .img-brand{
        transform: scale(1.4) translateX(0) translateY(0%);
}
.jumbotron .m-view{
        display: none;
}
/*end jumbotron*/

/*list section*/
.list-section{
        position: relative;
}
.list-section h1{
        font: normal normal 800 50px/40px Gilroy;
       color: #08083D;
       padding-top: 35px;
    padding-bottom: 35px;
}
.list-section ul li{
        font: normal normal bold 24px/49px Roboto;
        color: #08083D;
}
.list_box{
   margin: 0 auto;
  max-width: 634px;
}
.list-section img{
   height: 638px;
}
.list_box ul li::before{
  content:url('../../assets/images/home/check.svg');  
  position:relative;  
  z-index:100000;  
  left:-40px;
  top:0;
}

/*end list section*/

/*mall section*/
.mall_section{
   background: rgb(8 8 61);  
}
.mall_section h1{
   font: normal normal 800 50px/65px Gilroy;    
}
.mall_box{
  margin: 0 auto;
  max-width: 1210px;
}
.carousel-focus {
  padding-bottom: 70px;
}
.carousel-focus .carousel-focus-inner {
  height: 100%;
  position: relative;
}
.carousel-focus .carousel-focus-inner .carousel-focus-item {
  position: absolute;
  display: inline-block;
  width: 307px;
}
.carousel-focus .carousel-focus-inner .carousel-focus-item img{
  object-fit: cover;
}
.carousel-focus .carousel-focus-inner .carousel-focus-item:first-of-type {
  left: 0;
  transform: translate(0, 25%);
}
.carousel-focus .carousel-focus-inner .carousel-focus-item:first-of-type img{
  opacity: 0.6;      
}
.carousel-focus .carousel-focus-inner .carousel-focus-item:nth-of-type(2) {
  left: 50%;
  transform: translate(-50%, 10%);
  width: 398px;
  height: 398px;
  z-index: 1;
  opacity: 1;
}
.carousel-focus .carousel-focus-inner .carousel-focus-item:nth-of-type(3) {
  right: 0;
  transform: translate(0, 25%);
  
}
.carousel-focus .carousel-focus-inner .carousel-focus-item:nth-of-type(3) img{
    opacity: 0.6;    
}
.carousel-focus .carousel-focus-inner .carousel-focus-item:nth-child(n+4) {
  display: none;
}
.carousel-focus .carousel-focus-inner .carousel-focus-item img {
  width: 100%;
  height: auto;
}
.carousel-focus .carousel-focus-inner .carousel-focus-controls {
  position: absolute;
  z-index: 1;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, 0);
}
.carousel-focus p{
font: normal normal 400 20px/34px Roboto;
}
/*end mall seection*/

/*team section*/
.team_section{
  background: rgba(97, 132, 216,0.9);
}
.team_section h1{
        font: normal normal 800 50px/70px Gilroy;
}
.green-text{
       color:#23CE6B;
}
.team_section p{
        font: normal normal normal 21px/34px Roboto;
}
.team_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.team_box_left__item{
      padding-left: 17%;
    padding-right: 0;
    margin: 0 auto;
}
.d-grid{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.team_section #img1{
 grid-column: 1 /span 4;
    grid-row: 1 / span 2;
    overflow: hidden;
    align-self: center;
}
.team_section #img2{
   grid-column: 3 /span 6;
    grid-row: 1 / span 2;
    overflow: hidden;
}
/*end team section*/

/*services section*/
.services_section h1{
        font: normal normal 800 50px/75px Gilroy; 
        color: #08083D;
}
.services_section .card-title{
        color: #08083D;
        font: normal normal bold 27px/49px Roboto;
}
.services_section .card-text{
        font: normal normal normal 21px/29px Roboto;
        color: #08083D;
}

/* end services section */

/*step section*/
.steps_section{
        background: transparent linear-gradient(139deg, #6184D8 0%, #08083D 100%) 0% 0% no-repeat padding-box;
opacity: 0.9;
}
.steps_box {
    max-width: 770px;
    margin: 0 auto;
}
.steps_section h1{
   font: normal normal 800 50px/49px Gilroy;      
}
.step_text{
        color: #23CE6B;
        font: normal normal 800 27px/49px Gilroy;
}
.steps_box h1{
  font: normal normal 800 45px/29px Gilroy;   
}
.steps_box p{
    font: normal normal medium 21px/29px Roboto;    
}
.step_circle{
    width: 115px;
    height: 115px;
    background: transparent linear-gradient(328deg, #4D80FB 0%, #23CE6B 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}
.steps_item_box{
    box-shadow: 6px 6px 2px #6184D8;
    border-radius: 20px;    
}
/*end step section*/

/*advertise_section*/
.advertise_section{
background-color: #08083d;
    padding-bottom: 110px;
}
.advertise_section h1{
  font: normal normal 800 50px/65px Gilroy;      
}
.advertise_section  p{
  font: normal normal normal 21px/29px Roboto;
  max-width: 700px;
}
/*end advertise_section*/
/*success_stories__section*/
.success_stories__section img{
        height: 164px;
        object-fit: cover;
        border-radius: 0;
}
.success_stories__section h1{
        font: normal normal 800 50px/49px Gilroy;
}
.success_stories__section  p{
  font: normal normal medium 24px/49px Roboto;      
}
.success_stories__section .card-img-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*end success_stories__section*/

/*testimonials grid*/
.testimonials_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.green-bg{
        background-color: #23CE6B;
}
.bg-2{
    background-color:#08083D;
}
.bg-3{
    background-color:#6184D8;
}
.bg-4{
    background-color:#08083D;
}
.testimonials_grid .grid_item{
    padding: 75px 0;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;    
}
.testimonials_grid .grid_item h3{
    font: normal normal bold 27px/49px Roboto;    
}
.testimonials_grid .grid_item p{
  font: normal normal normal 16px/24px Roboto;      
}

/*end testimonials_grid*/

/*guarantee section*/
.guarantee_section{
  background: transparent linear-gradient(114deg, #6184D8 0%, #08083D 100%) 0% 0% no-repeat padding-box;
}
.guarantee_section h1{
        font: normal normal 800 50px/49px Gilroy;
}
.guarantee_section .text{
        max-width: 932px;
        margin: 0 auto;
        font: normal normal normal 21px/30px Roboto;
}
/*end guarantee_section*/

/*ctr_section*/
.ctr_section p{
   font: normal normal 500 24px/49px Roboto;     
}
.ctr_section h1{
        font: normal normal 800 50px/65px Gilroy;
}
/*end ctr_section*/
/* footer */
.footer-bg img{
        border-radius: 0;
}
.footer-bg .address{
  white-space: nowrap;      
}
.social_list{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.footer_bottom li,
.social_list li{
        margin-left: 1rem;
}
.footer_bottom{
  display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.footer-bg{
        height: 230px;
}
/**/

@media  screen and (min-width: 1920px) {
        .jumbotron {
      padding: 0;
      background: rgb(8, 8, 61);
    }

}

/********** Medium devices only **********/
@media (min-width:992px) and (max-width:1199px) {

}
/********** Small devices only **********/
@media (min-width:768px) and (max-width:991px) {

    }

/********** Extra small devices only **********/
@media (max-width:767px) {
  .jumbotron .d-view{
        display: none;
  }
    .jumbotron .m-view{
        display: block;
        margin-top: 1rem;
  }
  .jumbotron .img-brand{
        transform: scale(1) translateX(0) translateY(0%);
  }
  .jumbotron .vh-80 {
    height: 100%;
  }
  .list-section h1,
  .hero_text .h1{
     font-size: 32px;
     line-height: 1.2;
  }
  #header {
    height: 100%;
    position: relative;
    top: 0;
}
#header .container{
  align-items: center;
    justify-content: center;
}
.navbar-light .navbar-toggler {
    position: relative;
    right: 10%;
}
.hero_text p ,
.hero_text .btn{
    font-size: 18px;
}
}

/********** Super extra small devices Only :slightly_smiling_face: (e.g., iPhone 4) **********/
@media (max-width:479px) {
}